
html
  head
    title Elesse Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
         div#logo
            img(src="/static/images/logo.png") 
            | TDA
            li #[a(href="/") Home]
            li #[a(href="/") About Us]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact] 
            li #[a(href="/") Services]
    block content 
    block foot
      footer#footer
        h2 | Copywrite @2023 tanishdance.com.  |  All Rights  reserved